<div class='container'>
  user: <%=@user.name  %><br>
  created: <%=@user.created_at%><br>
  <a href="/user/<%=@user.id%>/posts">Submissions</a><br>
  <a href="/user/<%=@user.id%>/comments">Comments</a><br>
</div>
